snippet todold "todo list with datestamp" b
`!v strftime("%a %d.%m.%y %H:%M")`

- [ ] $1
endsnippet

snippet todol "todo list with datestamp" b
- [ ] $1
endsnippet

snippet todo "todo" b
[ ] $1
endsnippet

snippet date "date" b
`!v strftime("%a %d.%m.%y %H:%M")`

$0
endsnippet
