[submodule "plugins/start/julia-vim"]
	path = plugins/start/julia-vim
	url = https://github.com/JuliaEditorSupport/julia-vim
[submodule "plugins/start/vim-ipython-cell"]
	path = plugins/start/vim-ipython-cell
	url = https://github.com/hanschen/vim-ipython-cell
[submodule "plugins/start/vim-slime"]
	path = plugins/start/vim-slime
	url = https://github.com/jpalardy/vim-slime
[submodule "plugins/start/ultisnips"]
	path = plugins/start/UltiSnips
	url = https://github.com/sirver/UltiSnips
[submodule "plugins/start/supertab"]
	path = plugins/start/supertab
	url = https://github.com/ervandew/supertab
[submodule "plugins/start/nerdtree"]
	path = plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "plugins/start/ctrlp"]
	path = plugins/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "plugins/start/vim-searchhi"]
	path = plugins/start/vim-searchhi
	url = https://github.com/qxxxb/vim-searchhi
[submodule "plugins/start/fzf"]
	path = plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "plugins/start/fzf.vim"]
	path = plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "plugins/start/spotdiff.vim"]
	path = plugins/start/spotdiff.vim
	url = https://github.com/rickhowe/spotdiff.vim
[submodule "plugins/start/vim-dirdiff"]
	path = plugins/start/vim-dirdiff
	url = https://github.com/will133/vim-dirdiff
[submodule "plugins/start/nerdcommenter"]
	path = plugins/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter
[submodule "plugins/start/python-mode"]
	path = plugins/start/python-mode
	url = https://github.com/python-mode/python-mode
[submodule "plugins/start/vim-fugitive"]
	path = plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "plugins/start/vim-surround"]
	path = plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "plugins/start/vim-markdown"]
	path = plugins/start/vim-markdown
	url = https://github.com/preservim/vim-markdown
[submodule "plugins/start/rust.vim"]
	path = plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "plugins/start/thesaurus_query.vim"]
	path = plugins/start/thesaurus_query.vim
	url = https://github.com/Ron89/thesaurus_query.vim
[submodule "plugins/start/vim-tsv"]
	path = plugins/start/vim-tsv
	url = https://git.sr.ht/~sotirisp/vim-tsv
[submodule "plugins/start/vimtex"]
	path = plugins/start/vimtex
	url = https://github.com/lervag/vimtex
[submodule "plugins/start/YouCompleteMe"]
	path = plugins/bck/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe
[submodule "plugins/start/bullets.vim"]
	path = plugins/start/bullets.vim
	url = https://github.com/bullets-vim/bullets.vim
[submodule "plugins/start/tex-conceal.vim"]
	path = plugins/start/tex-conceal.vim
	url = https://github.com/KeitaNakamura/tex-conceal.vim
[submodule "plugins/start/latex-unicoder.vim"]
	path = plugins/start/latex-unicoder.vim
	url = https://github.com/joom/latex-unicoder.vim
[submodule "plugins/start/vim-mundo"]
	path = plugins/start/vim-mundo
	url = https://github.com/simnalamburt/vim-mundo
[submodule "plugins/start/undotree"]
	path = plugins/start/undotree
	url = https://github.com/mbbill/undotree
[submodule "plugins/start/vim-gnupg"]
	path = plugins/start/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg
[submodule "plugins/start/vim-matchup"]
	path = plugins/start/vim-matchup
	url = https://github.com/andymass/vim-matchup
